@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-fancy">Fancy Restaurant</h1>
    <p>Eat Fancy, Live Fancy .</p>
    <a class="btn btn-outline-secondary my-3 text-fancy semi-circle" href="/Reservation">Reserve a Table</a> &nbsp;
    <img class="img-fluid" src="/Images/pen and notebook.jpg" />
</div>
